#### Multiply 10 with 5, and print the result.

In [2]:
x=10
y=5
result=x*y
print(f'the result is {result}')

the result is 50

### Divide 10 by 2, and print the result.

In [3]:
x=10
y=2
result=x/y
print(f'the result is {result}')

the result is 5.0

### Use the correct membership operator to check if "apple" is present in the fruits object.

In [20]:
fruits = ['apple', 'cherry', 'bannana', 'watermelon']

In [ ]:
if apple in fruits:
    print('"apple" is present in the fruits ')
else:
    print('"apple" is not present in the fruits')

### Use the correct comparison operator to check if 5 is `not equal` to 10.

In [ ]:
'yes' if 5!= 10 else 'no'

### Use the correct logical operator to check if at least one of two statements is `True`.

In [ ]:
x= True 
y= False
'at laset one of the statment is true 'if x or y else 'not True'

### Print the second item in the fruits list.

In [4]:
fruits = ['apple', 'cherry', 'bannana', 'watermelon']
print(fruits[1])

cherry

### Change the value from "apple" to "kiwi", in the fruits list.

In [ ]:
index= fruits.index('apple')
fruits[index]='kiwi'

### Use the append method to add "orange" to the fruits list.

In [ ]:
fruits.append('orange')

### Use the insert method to add "lemon" as the second item in the fruits list.

In [ ]:
fruits.insert(1,'lemon')

### Use the remove method to remove `"banana"` from the fruits list.

In [ ]:
fruits.remove('bannana')

### Use negative indexing to print the last item in the list.

In [ ]:
print(fruits[-1])

### Use a range of indexes to print the third, fourth, and fifth item in the list.

In [ ]:
print(fruits[2:5])

### Use the correct syntax to print the number of items in the list.

In [ ]:
print(len(fruits))

### Write a Python program to print all even numbers from a given list of numbers in the same order and stop printing any after 237 in the sequence.

#### numbers = [    
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345,
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,
    958,743, 527
    ]

In [6]:
numbers = [
386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345,
399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,
815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,
958,743, 527
]

In [12]:
numbers.sort()
for i in numbers :
    if i ==237:
        print(i)
        break
    if i %2 ==0:
        print(i)

24
58
104
162
236
237

### Write a Python program that will accept the base and height of a triangle and compute its area.

<img src="https://www.w3resource.com/w3r_images/python-area-triangle-basic-exercise-30.png" alt="Girl in a jacket" width="500" height="600">

In [9]:
base=float(input('enter the base of the triangle :/n'))
hight=float(input('enter the hight of the triangle :/n'))
print (f'Area a =.5 *{base} *{hight}')

enter the base of the triangle :/n 2
enter the hight of the triangle :/n 2.3

Area a =.5 *2.0 *2.3

### Sort three integers without using conditional statements

<img src="https://www.w3resource.com/w3r_images/python-basic-image-exercise-69.png" alt="Girl in a jacket" width="500" height="600">

In [14]:
x=int(input('enter the first num'))
y=int(input('enter the secand num '))
z=int(input('enter the third num'))
num_max=max(x,y,z)
num_min=min(x,y,z)
mid=num_max-num_min
print(f'the max number is {num_max} and the minimum number is {num_min} and the mid is {mid}')

enter the first num 10
enter the secand num  5
enter the third num 17

the max number is17 and the minimum number is 5 and the mid is 12

#### Write a Python function that takes a sequence of numbers and determines whether all the numbers are different from each other.

<img src="https://www.w3resource.com/w3r_images/python-basic-1-image-exercise-1.png" alt="Girl in a jacket" width="500" height="600">

In [57]:
s1=[2,4,5,7,9]
def uniq_num(numbers):
    return len(numbers)==len(set(numbers))
uniq_num(s1)

True

In [59]:
s2=[2,4,5,5,7,9]

In [60]:
def uniq_num(numbers):
    return len(numbers)==len(set(numbers))
uniq_num(s2)

False

#### Dictionary

In [48]:
#Return all keys 
dict1 = {'a': 100, 'b': 200, 'c': 300}
dict1.keys()

dict_keys(['a', 'b', 'c'])

In [50]:
#Return all Values
dict1 = {'a': 100, 'a': 200, 'c': 300}
dict1.values()

dict_values([200, 300])

In [55]:
#Return a list of tuple
dict1 = {'a': 100, 'a': 200, 'c': 300}
lst=list(dict1.items())

In [56]:
lst

[('a', 200), ('c', 300)]

```
Input : {‘a’: 100, ‘b’:200, ‘c’:300}
```
Output : 600
```
# Input : {‘x’: 25, ‘y’:18, ‘z’:45}

```
Output : 88

In [53]:
d1= {'a': 100, 'b':200, 'c':300}
total=sum(d1.values())
print(total)

600

In [54]:
d2= {'x': 25, 'y':18, 'z':45}
total=sum(d2.values())
print(total)

88

### Calculate the sum of all numbers from 0 to a given number

In [46]:
x = int(input('enter a number: '))
def sum_of_numbers(n):
    return n * (n + 1) // 2              

total_sum = sum_of_numbers(x)
print(f"The sum of all numbers from 0 to {x} is {total_sum}")

enter a number:  5

The sum of all numbers from 0 to 5 is 15

### Find the factorial of a given number using while loop

#### For example: calculate the factorial of 5



```
# 5! = 5 × 4 × 3 × 2 × 1 = 120

```

In [ ]:
n=int(input('enter a number'))
s=1
i = n
while i>0 :
    s*=i
    i-=1
print(f'the factorial of {n} is {s}')

### Use a loop to display elements from a given list present at odd index positions

```
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
Expected output:
20 40 60 80 100
```

In [39]:
my_list = [10,20,30,40,50,60,70,80,90,100]
for i in range(len( my_list)):
    if i%2 !=0 :
       print(my_list[i])

20
40
60
80
100

### len of str in list
### ['apple', 'orange', 'cat']

In [32]:
l = ['apple', 'orange', 'cat']
len(l)

3

### program to count number of vowels using sets in given string

In [14]:
vowels = ['a','e','i','o','u']
string = input('enter a word: ')


### Write a Python program to add an item to a tuple.

In [29]:
tuple1 = (1,3,5)
item = 10
lst=list(tuple1)
lst.append(10)

In [30]:
tuple2=tuple(lst)

In [31]:
print(tuple2)

(1, 3, 5, 10)

# Write a Python program to multiply all the items in a list.

In [26]:
s=1
lst = [1, 3, 5, 2]
for i in lst:
    s*=i
print(s)

30

### Write a Python program to get the smallest number from a list.

In [22]:
lst = [1, 3, 5,1,1000, 2]
print(min(lst))

1

### Write a Python program to get the largest number from a list.

In [21]:
lst = [1, 3, 5,1,1000, 2]
print(max(lst))

1000

### Write a Python program to remove item(s) from a given set.

### s = set([0, 1, 3, 4, 5])

In [17]:
s = set([0, 1, 3, 4, 5])
s.clear()

### Write a Python program to find the maximum and minimum values in a set.

In [16]:
set1 = {1,8,4,3,2,6}
min(set1)
max(set1

1

### Write a Python program to convert a tuple to a dictionary.
### dict1 = {}
### tuple1 = ("name", "age", "city","city")

```
# enumerate()
```

enumerate() returns a value and its index in the itterable (value,index)

In [20]:
tuple_1 = ('name','age','city','city')    #output {'name': 0, 'age': 1, 'city': 3}
# values = (1,2,3,4)
dict1 = {}
dict1 = {value:index for index,value in enumerate(tuple_1)}
print(dict1)

{'name': 0, 'age': 1, 'city': 3}